body{
    background-color: #141414;
}

.navbar{
    height: 41px;
    padding: 0 4%;
}

.navbar_logo{
    cursor: pointer;
    margin-right: 5px;
}

.navbar-brand img{
    margin-top: 20px;
    width: 90px;
}

h1{
    color: white;
    width: 100%;
    font-size: 3.5vw;
    font-weight: normal;
    margin: 24px 0;
}

.profile{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}