body{
    background-image: url(../Reto1/img/fondo.png);
}

.imagen{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000%;

}

.descripción{
    font-size: 20px;
}

.hobbies{
    font-size: 17px;
}